@import url("style-whatsap.css");
@import url("style-loader.css");
@import url("style-icons.css");
@import url("style_conts.css");
@import url("style-box.css");
@import url("style-modalCard.css");
@import url("style-pdf.css");
/* @import url("whats-1.css"); */
@import url("style-modal.css");
@import url("style-btn.css");
@import url("style-text.css");
@import url('style-start.css');

.searchMainBox{
  margin-top: 90px ;
  /* margin-right: 340px !important; */
  /* margin-bottom:400px !important; */
}
.filterProductItem{
  background: #11FFBD !important;
  height:360px;
  /* gap: 80px; */
  /* gap: 10px; */
}

/* filterProducto page */
.textPrecioSize{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 17px;
  /* text-transform: uppercase; */
}
.shadowFilterPage {
  /* box-sizing: border-box; */
  box-shadow: 2px 5px 12px 1px #e7eeee;
  border-radius: 6px;
  height: 384;
  /* Añadido para una transición suave en ambos sentidos */
  transition: transform 0.2s ease-in-out;
}

.shadowFilterPage:hover {
  border-radius: 6px;
  /* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important; */
  /* box-shadow: 12px 12px 12px 12px #198754; */
  box-shadow: 5px 10px 12px #e0e7e7;
  transform: scale(1.04);
}

/* .filterProductItem{
  background: goldenrod !important;
  gap: 30px;
} */
.productoFilterBox {
  padding: 10px;
  /* background: orange; */
}

.imgfilterPage {
  padding: 0px;
  width: 100%;
  /* background: hotpink !important; */
  margin-bottom: 12px;
}
.titleFilterPageBody{
  /* background: #11FFBD; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding: 6px;
  min-height: 50px;
  max-height: 50px;
  margin-bottom:16px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.precioFilterPageBody{
  /* background: red; */
  display: flex;
  justify-content: space-between;
  margin-bottom:14px;
}
.titleFilterPageBody{
  font-size: 18px;
}
.cantidadfilterPageBody {
  color: #6C757D;
  font-size: 16px;
  margin-bottom: 0px;
  font-size:16px;
  /* background: orange; */
}

@media(width >1810px) {}

@media(1520px<= width <=1810px) {
  .rowFilterPage {
      /* background: rgb(181, 214, 116) !important; */
      display:grid;
      grid-template-columns: repeat(5, 1fr) !important;
      grid-auto-columns: auto;

  }
}
@media(1380px<= width <1520px) {
  .rowFilterPage {
      /* background: rgb(157, 161, 149) !important; */
      display:grid;
      grid-template-columns: repeat(4, 1fr) !important;
      grid-auto-columns: auto;

  }
}
@media(1140px<= width <1380px) {
  .rowFilterPage {
      /* background: rgb(91, 99, 77) !important; */
      display:grid;
      grid-template-columns: repeat(3, 1fr) !important;
      grid-auto-columns: auto;

  }
}
@media(836px<= width <1140px) {
  .rowFilterPage {
      /* background: rgb(162, 255, 0) !important; */
      display:grid;
      grid-template-columns: repeat(2, 1fr) !important;
      grid-auto-columns: auto;

  }
}
@media(640px<= width <836px) {
  .rowFilterPage {
      /* background: rgb(162, 255, 0) !important; */
      display:grid;
      grid-template-columns: repeat(1, 1fr) !important;
      grid-auto-columns: auto;

  }
}
@media(40px<= width <640px) {
  .rowProductoFiltro {
    width: 100% !important;
    /* background: #11FFBD !important; */
    display: grid;
    grid-template-columns: auto auto;
    place-content: center !important;
    gap: 10px !important;
    padding: 10px 2px !important;
  }
  /*  */
  .productoBody {
    /* background: rgb(240, 41, 23) !important; */
    padding: 26px 10px !important;
    width:100% !important;
    grid-column: span 2;
    /* max-width:102rem; */
    /* min-width: 102rem; * /
    /* width:380%; */
}
  .rowFilterPage {
      /* background: rgb(162, 255, 0) !important; */
      display:grid;
      grid-template-columns: repeat(2, 1fr) !important;
      grid-auto-columns: auto;
      padding:2px !important;
      gap:38px 6px !important;
  }
  .productoFiltroBox{
    /* padding:2px !important; */
    /* background: #00f2fe !important; */
    /* display: grid; */
    /* grid-template-columns: 2 span; */
    grid-column: span 2;
  }
}

/*  */
/* icons de la fleca de los items inferior svg */
@media(width > 400px ){
.containerSelectPro{
  background: #12a44f;
  display: none !important;
}
}
@media(width < 400px ){
  .containerSelectPro{
  background: #11FFBD;
  /* padding:10px; */
  
}

}
nav svg {
  height: 20px;
}

.navHeadDising {
  height: 70px;
}

.inpFormDising {
  padding-top: 28px;
}

.foda--view {
  color: #828C8A;
  font-size: 60px;
}

.boxWeBody{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  display: flex;
  align-items: center;
  
}

.title--producto-group-2 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.title--producto-group-3 {
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  height: 60px;
}

.title--producto-group {
  height: 60px;
  /*background: #FF8008;
   fallback for old browsers
  background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
  */
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}


.box--view--favorite {
  background: #FFFFFF;
}

.nav--bg {
  position: fixed;
  top: 0px;
  background: #79E5E1;
  /* height: 240px; */
  background: #AAFFA9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #11FFBD, #AAFFA9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table.table-hover tbody tr:hover {
  background: #FFF8D5;
}

.footer--cont--view {
  background-color: #223D59;
  height: 470px;
}

.footer--d--view {
  height: 150px;
  margin-top: -30px;
  overflow: hidden;

}
@media (max-width:768px) {
  .boxWeBody{
  height: 40rem;
  }
  /* style en carusel */
.boxCaruselMainHome{
  height: 330px !important;
  /* background: #19C27D; */
  margin-bottom: 4px;
}
  
.imgCaruselMainHome{
  height: 280px !important;
}
.btnCaruselMainHome{
  display: none;
}
  /* google maps background */
.fromGoogleMapsbackground{
  height: 260px;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}
  /* google maps  */
.fromGoogleMapsBox{
  height: 95%;
  width: 100%;
  padding: 6px;
}
.hrGoogleMaps{
  width: 46%;

  /* box-shadow:8px 5px #11FFBD; */
}
  .footer--body {
    background-color: #050E14;
    height: 50rem;
  }

  .btn--view-add {
    /* background-color: rebeccapurple; */
    margin-top: -13px;
  }

  .hrProductSearch {
    margin-top: 4px;
    margin-bottom: 22px;
  }

  .iconStartSlay {
    margin-top: -8px;
    margin-bottom: 26px;
  }

  .btn--view-add {
    /* margin-bottom: 10px; */
    /* margin-top: 2px; */
  }

  .arrow--box {}

  /* boton de producto view */
  .btnViewPro {
    margin-top: -14px;
  }

  .txtBoxTitle {
    /* background:red; */
    height: 40px;
    overflow: hidden;
  }

  .hrProduView {}

  /* slayder view more */
  .btnProViewMore {
    /* background-color: red !important; */
    /* padding-top: 20px !important; */
    width: 140px;
    margin-right: -18px;
    margin-top: 20px;
    margin-bottom: -80px;
  }

  /* botones de product  view and add*/
  .btn--view-page {
    /* background: #7EA0EB; */
    /* background: #09ED69; */
    background: #2196F3;
    color: #ffffff;

    padding: 7px 12px;
    float: right;
    font-size: 12px;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 5px;
    text-transform: uppercase;
  }

  .btn--view-page:hover {
    /* background: #96B3F1; */
    background: #429DE6;
  }

  .btn--view-add {
    background: #7EEBCA;
    padding: 7px 8px;
    float: left;
    font-size: 12px;
    box-shadow: 0px 10px 20px -10px #7DCEA0;
    border-radius: 5px;
    text-transform: uppercase;
    /*background:#7ED6EB; */
    /* color: #ffffff; */
  }

  /* slay main app */
  .navHeadDisingApp {
    margin-left: -24px;
    width: 408px;

  }

  /* nav dising app listCategory*/
  .navHeadDisingApp {
    margin-left: -24px;
    width: 408px;
  }

  .boxSlayderApp {
    /* background: #00f2fe; */
    height: 124px;
  }

  /* --- modificar el scroll de barra  */
  /* modificar la barra del scroll de y vertical */
  ::-webkit-scrollbar {
    width: 2px;
    /* Ajusta el ancho según tus preferencias */
  }

  /* formulario de perfil */
  .formPerfil {
    height: 590px;
  }

  /* botones de pagination */
  .btn--pagination {
    /* border: 8px solid #1BE0FA ; */
    border-radius: 4px;
    margin-bottom: 50px;
    padding: 6px 14px;
    margin-left: 8px;
    color: #000000;
    background: #FAFAFA;
    border-color: #FAFAFA;
  }

  .btn--pagination:hover {
    height: 200px;
    color: #FFFFFF;
    /* border-color:#1BE0FA; */
    border-color: #63E6BE;
    background: #63E6BE;
    /* box-shadow: 0px 10px 20px -10px #7DCEA0; */
  }
/*  */
.box--layout-footer {
  height: 20rem;
}

.box-cart-validar {
  box-shadow: #EBEBEB 5px 8px;
  border-radius: 6px;
  margin-top: 0rem;
  background-color: #57CAA7;
  width: 60rem;
  margin-bottom: 1rem;
}

/* modal login user */
.boxContainerModalUser{
/* background: orange; */
/* display: flex !important;
justify-content: center !important; */
/* height: 30rem; */
/* top: 15rem; */
}
.modal--frm--userLog {
  margin-left: 38px;
  max-width: 340px;
  /* background: red; */
}

/* modal login admin */
.modal--frm--adminLog {
  margin-left: 30px;
  max-width: 340px;
}
}


@media (min-width:768px) {
  .boxWeBody{
    height: 20rem;
    }
  /* style en carusel */
.boxCaruselMainHome{
  height: 530px !important;
  margin-bottom: 50px;
  /* background: #19C27D; */
}
  
.imgCaruselMainHome{
  height: 480px !important;
}
.btnCaruselMainHome{
  /* background-color: none !important; */
  /* background-color: blue !important; */
  border-radius: 80px !important;
  /* font-size: 10px !important; */
  width: 10px !important;
  display: none;
  height: 1px !important;
  /* box-sizing: 1px !important; */
  /* padding: 2px  !important; */
}
.btnItemPrueba{
  /* background: rebeccapurple !important; */
  width: 14px !important;
  height: 14px !important;
  min-height: 1px !important;
  border-radius: 40px;
  
}
.btnCaruselMainHome[data-bs-target="#items"] {
  /* background-color: blue !important; */
  /* background: red !important; */
  height: 12px !important;
  width: 7px;
  border-radius: 90%;
  /* outline: 2px solid red; */
}


.btnItemCaruselMainHome{
  /* background: orange !important; */
  padding: -22px  !important;
  height: 10px;
}
 /* google maps background */
.fromGoogleMapsbackground{
  height: 460px;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}
  /* google maps  */
.fromGoogleMapsBox{
  height: 96%;
  width: 99%;
  padding: 6px;
}
.hrGoogleMaps{
  width: 18%;
}
  .footer--body {
    background-color: #050E14;
    height: 40rem;
  }

  /* -----------------------btn pagination */
  .bodyBtnPagination {
    margin-bottom: 30px;
  }

  .btn--pagination {
    border: 8px solid #1BE0FA;
    /* border: 8px solid #FFFFFF ; */
    border-radius: 4px;
    padding: 2px 14px;
    margin-left: 8px;
    /* box-shadow: none; */
    /* display: flex; */
    /* align-items: center;
  justify-content: center; */
    color: #000000;
    /* background: #7ADDBF; */
    background: #FAFAFA;
    border-color: #FAFAFA;
    /* margin-right */
    /* background-color: #20c997; */
  }

  .btn--pagination:hover {
    color: #FFFFFF;
    /* border-color:#1BE0FA; */
    border-color: #63E6BE;
    background: #63E6BE;
    box-shadow: 0px 10px 20px -10px #7DCEA0;
  }
/*  */

  /* modal login user */
  .modal--frm--userLog {
    max-width: 340px;
  }
  /* modal login admin */
  .modal--frm--adminLog {
    max-width: 340px;
  }

  .box--layout-footer {
    height: 10rem;
  }

  .box--layout-footer {
    height: 10rem;
  }

  .btn--optionCard {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal__container {
    max-height: 24%;
  }

  .modal__title {
    color: #12a44f;
    font-size: 26px;
    margin-top: -6%;
    /* height: ; */
    /* margin-top: 1px -10px 0px 0px; */
  }

  .box-cart-validar {
    box-shadow: #EBEBEB 5px 8px;
    border-radius: 6px;
    margin-top: 8rem;
    background-color: #57CAA7;
    width: 60rem;
  }

  .icons--close {
    position: fixed;
    margin-left: 92%;
    margin-top: -170px;
    /* margin-top: -24%;   */
    /* margin: -24%; */
    font-size: 24px;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
  }


}


.style--body-content {
  background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);

}

.border--box-help {
  border-radius: 12px;
  background: #ebeff3 !important;
  opacity: 1;
  height: 214px;
}

.what--app {
  background: #fff;
  border-radius: 15px 50px;
}

.icons--apps {
  font-size: 20px;

}

.c {
  /*1*/
  width: 350px;
  height: 180px;
  border: dashed #84fab0;
  border-width: 5px;
  border-radius: 39px;
}

.help--number {
  color: #8693F7;
}


/* link */
.link--heder--m {
  font-size: 12px;
  /* margin-left: none; me de bootstrap es == a margin-left en css */
}

.link--heder--m a {
  margin-left: 2em;
}

.nav--text {
  background-color: #11FFBD;
  /* margin-left:2em; */
  /* margin-top: ; */
  width: 206px;
  /* width: 17em; */

}

.nav--text-one {
  width: 214px;

}

.nav--text-twe {
  width: 122px;

}

/* nav home */
.nav--home {
  /* position:absolute; */
  /* position: sticky; */
  /* position: fixed; */

  /* position: sticky;
top:80px;
border:10px solid #1B75CE;
display:inline-block; */
}

.text--nav--home {

  margin-left: 10px;
}


/* slyder home  */
.carousel-item {
  opacity: 12;
  transition: .5s all;
}

/* carusel min pro */
/* .carrusel-min-pro{
    text-decoration: none;
} */
/* box-shadow: inset 0 -3px 0 0 #bdb; */


.frm--correo {
  margin-top: 40px;
}

/* modal de usuariod cliente inicio sesion */
.frm--loginUser--img {
  /* display:block; */
  width: 20px;
  position: absolute;
  margin-top: -29px;
  margin-left: 74%;
  /* margin-top: -200px; */
  /* font-size: 10px; */
  /* margin-left:90px ; */

}
/* @media (width >=992px){
  .navBarHome{
  background: orange !important;
  }

} */
@media (width <992px){
  .navBarHome{
  /* background: orange !important; */
  }
  .textNameHome{
    /* background: #12a44f !important; */
    width: 40px;
  }

}
@media (width >=700px){
  .navBarHome{
    /* background: red !important; */
  }
  .textNameHome{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (width <700px){
  .navBarHome{
    /* background: rebeccapurple !important; */
  }
 

}

.texa{
  /* background: #11FFBD !important; */
}